.line1{
    background-color: rgb(92, 86, 86);
    width:10%;
    height:2px;
}
.line2{
    background-color: rgb(92, 86, 86);
    width:40%;
    height:2px;
}
.col-md-2{
    position:relative;
}
.vote{
    position:absolute;
    background-color:red;
    top: 0;
    padding:5px;
    font-weight: 700;
    right: 15px;
}
.col-md-4:hover{
    .line1{
        width:30%;
    }
    .line2{
        width:70%;
    }
}
@media only screen and (max-width: 650px) {
    .ss {
      width:70% !important;
    }
  }