i{
    
    top: 51%;
    transform: translateY(-50%) !important;
    color: black !important;
    right: 0%;
    padding-right: 9px;
    cursor: pointer !important;

}
i:hover{
    color: rgb(23, 133, 223) !important;
}